<div class="container is-fluid">

    <%= content_tag :div,
    id: "list-form",
    data: {
      list: @list.to_json(except: [:created_at, :updated_at, :image]),
      contact_ids: @contact_ids.to_json,
      contacts_attributes: @contacts.to_json(except: [:user_id, :created_at, :updated_at, :image, :last_name, :wedding_anniversary, :address, :birthday_month, :birthday_day]),
      contacts_available: @contacts_available.to_json(except: [:user_id, :created_at, :updated_at, :image, :last_name, :wedding_anniversary, :address, :birthday_month, :birthday_day])
    } do %>

    <div class="field control">
      <label>Name</label>
      <input type="text" class="input" v-model="list.name" />
    </div>

    <h2>Contacts in List</h2>


      <div v-for="(contact, index) in contacts_attributes">
          <h4>{{contact.first_name }}</h4>
          <button class="button" v-on:click="removeContact(index)">Remove Contact</button>
      </div>

      <select v-model="selected">
        <option v-for="contact in contacts_available" v-bind:value="contact.id">
          {{ contact.first_name }}
        </option>
      </select>

      <button class="button" v-on:click="addContact()">Add Contact</button>
      <br>
      <button class="button" v-on:click="saveList">Save List</button>

      <% end %>

    </div>

  </section>

</section>

<!-- <select name="contact[contact_id]" >
  <% Contact.all.each do |contact| %>
    <option value="<%= contact.id %>"><%= contact.first_name %></option>
<% end %>



  <%= form_for @list do |f| %>
    <%= f.text_field :name %>
    <%= fields_for :contact do |c| %>
    <%= c.collection_select(:id, Contact.all, :id, :first_name) %>
    <% end %>
  <%= f.submit("Add Contact") %>
 <% end %>
</div> -->
