
<section class="container content">

	<h2>Current Lists</h2>

	<h3> Add New List </h3>
<%= form_for @list do |f| %>
	<div class="field has-addons">
		<div class="control is-expanded">
		<%= f.text_field :name, class: 'input' %><br>
	</div>
	<div class="control">
		<%= f.submit class: 'button is-primary' %>
	</div>
	</div>
<% end %>

	<h3> Current Lists </h3>

	<table class="table">
		<thead>
			<th>Title</th>
			<th>View</th>
		</thead>
		<tbody>
			<% @lists.each do |l| %>
				<tr>
					<td><%= l.name %></td>
					<td><%= link_to "View", list_path(l.id) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>


</section>
