

<div>
        <h4>Upcoming Birthdays</h4>
        <% @birthdays.each do |b| %>
          <div><%= b.first_name %> <%= b.last_name %>: <%= Date::MONTHNAMES[b.birthday_month] %> <%= b.birthday_day %></div>
        <% end %>
        <br>
        <h4>Top Gift Lists</h4>
        <% @lists.each do |l| %>
          <div><%= link_to l.name, list_path(l) %></div>
        <% end %>
  </div>
