<div class="hero is-success is-fullheight">

  <div class="hero-body">

  <div class="container has-text-centered">

    <div class="column is-4 is-offset-4">

      <h3 class="title has-text-grey">Sign-up</h3>
        <div class="box">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <div class="control">
    <%= f.text_field :name, autofocus: true, class: 'input' %>
  </div>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <div class="control">
    <%= f.email_field :email, autocomplete: "email", class: 'input' %>
  </div>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'input'  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input'  %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'button' %>
  </div>
<% end %>

</div>
  <p class="has-text-grey">
    <%= render "devise/shared/links" %>
  </p>
</div>
</div>

</div>

</div>
