<div class="add-contact-button">
	<%= link_to "Add New Gift", new_gift_path, method: :get, class: 'button is-primary' %>
</div>


	<h2>Current Gifts</h2>

			<table class="table is-fullwidth" id="gifts-table">
				<thead>
					<tr>
						<th>Gift Title</th>
						<th>Who's it for?</th>
						<th>Gift URL</th>
						<th>Edit</th>
						<th>Delete?</th>
					</tr>
				</thead>
				<tbody>
				<% @gifts.each do |gift| %>
					<tr>
						<td><%= gift.title %></td>
						<td><%= gift.contact.first_name%> <%= gift.contact.last_name %></td>
						<td><%= gift.url %></td>
						<td><%= link_to "Edit", edit_gift_path(gift.id) %></td>
						<td><%= link_to "Delete", gift_path(gift.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
