
        <section class="hero is-medium">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image">
                            <%= image_tag("garden_homepage.png") %>
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            Gardens
                        </h1>
                        <h2 class="subtitle is-4"><br>
                            The contact manager to strengthen your most important relationships
                        </h2>
                        <br>
                        <p class="has-text-centered">
													<%= link_to "Get Started", new_user_registration_path, method: :GET, class: 'button is-medium is-outlined' %>
                        </p>
                    </div>
                </div>
              </div>
            </section>
            <section style="background-color: #fafafa" class="section value content">
              <div class="container text-centered">
                <div class="columns is-vcentered">
                  <div class="column">
                    <h3 class="title is-3">Never forget another birthday</h3></br>
                      <p class="subtitle">Get reminders on upcoming events and own your most
                       important relationships.
                     </p>
                  </div>
                  <div class="column">
                    <h3 class="title is-3">Save All Your Gift Ideas</h3></br>
                      <p class="subtitle">Always have the best gift idea picked out when you need it. No more browser bookmarks.</p>
                </div>
              </div>
            </div>
          </section>
          <section>
            <div class="container">
              <div class="content text-centered">
                <div>
                  <h3 class="title is-3">Email Reminders</h3>
                  <p class="subtitle">Get email reminders and the the gifts you've saved</p>
                </div>
                <div>
                  <%= image_tag("reminder-email.png", size: "745x648") %>
                </div>
            </div>
        </section>
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-6 footer_logo">
                <%= image_tag("garden_64.png") %> &nbsp; Gardens
              </div>
              <div class="column is-6">
                <div class="content">
                  <p><strong>Gardens</strong> by Tim Pittman</p>
                  <p>tim.pittman021@gmail.com</p>
                  <p><%= link_to "@pittman021", "https://twitter.com/pittman021" %></p>
                </div>
              </div>
            </div>
          </div>
        </footer>
