      <div class="add-contact-button">
        <%= link_to "Add New Contact", new_contact_path, method: :get, class: 'button is-primary' %>
        <%= link_to "Add New Group", groups_path, method: :get, class: 'button is-primary' %>
      </div>

      <div id="contacts">
      	<table class="table is-fullwidth" id="contacts-table">
      		<thead>
      			<tr>
      				<th>First Name</th>
      				<th>Last Name</th>
      				<th>Address</th>
      				<th>Birthday</th>
      				<th>View</ht>
      			</tr>
      		</thead>
      		<tbody>
            <% @contacts.each do |c| %>
            <tr>
              <td><%= c.first_name %></td>
              <td><%= c.last_name %></td>
              <td><%= c.address %></td>
              <td><%= Date::MONTHNAMES[c.birthday_month] %> <%= c.birthday_day %></td>
              <td><%= link_to 'View', contact_path(c.id) %></td>
            <% end %>
          </tr>
      		</tbody>
      </table>
