<section class="hero is-small is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        MyCRM
      </h1>
      <h2 class="subtitle">
        Welcome back, <%= @user.name %>
      </h2>
    </div>
  </div>
</section>

<section class="container contacts-events">

  <div class="columns">
    <div class="column is-3 content">
        <h4>Upcoming Birthdays</h4>
        <% @birthdays.each do |b| %>
          <div><%= b.first_name %> <%= b.last_name %>: <%= Date::MONTHNAMES[b.birthday_month] %> <%= b.birthday_day %></div>
        <% end %>
    </div>
    <div class="column is-9">
      <div class="box content">
        <%= link_to "Add New Contact", new_contact_path, method: :get, class: 'button' %>
      	<table class="table" id="contacts-table">
      		<thead>
      			<tr>
      				<th>First Name</th>
      				<th>Last Name</th>
      				<th>Address</th>
      				<th>Birthday</th>
      				<th>View</ht>
      			</tr>
      		</thead>
      		<tbody>
      		<% @contacts.each do |contact| %>
      			<tr>
      				<td><%= contact.first_name %></td>
      				<td><%= contact.last_name %></td>
      				<td><%= contact.address %></td>
      				<td> <%= Date::MONTHNAMES[contact.birthday_month] %> <%= contact.birthday_day %></td>
      				<td><%= link_to "View", contact_path(contact) %>
      			</tr>
      		<% end %>
      		</tbody>
        </table>
     </div>
</div>
  </div>
</section>
