

<section class="container contacts-show">
  <div class="content box">
		<h1><%=  @contact.first_name %> <%= @contact.last_name %></h1>
			<p>Birthday: <%= get_month(@contact.birthday_month) %> <%= @contact.birthday_day %>
			<p>Address: <%= @contact.address %></p>
      <p>Group: <%= @contact.group.title rescue 'None' %>
      <p>Notes: <%= @contact.notes %></p>

		<h2>Gifts</h2>
			<ul>
				<% @contact.gifts.each do |gift| %>
					<li><%= gift.title %>: <a href=" <%=gift.url %>"><%= gift.url %></a></li>
				<% end %>
			</ul>
			<%= link_to "Edit", edit_contact_path(@contact.id), class: 'button is-primary' %>
			<%= link_to "Delete", contact_path(@contact.id), method: :delete, class: 'button is-danger', data: {confirm: "Are you sure?"} %>
	</div>

</div>
</section>
