<% if controller_name == "sessions" || controller_name == 'registrations' || controller_name == 'pages' %>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="tabs is-right">
          <ul>
          <% if current_user %>
            <li><%= link_to "Import Contacts", upload_path, method: :GET, class: "navbar-item" %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-item is-active' %></li>
          <% else %>
            <%= link_to "Login", new_user_session_path, method: :GET, class: 'navbar-item' %>
            <%= link_to "Sign Up", new_user_registration_path, method: :GET, class: 'navbar-item' %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>

</nav>

<% else %>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/contacts">
          <strong>MyCRM</strong>
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="tabs is-right">
              <ul>
              <% if current_user %>
                <li><%= link_to "Import Contacts", upload_path, method: :GET, class: "navbar-item" %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-item is-active' %></li>
              <% else %>
                <%= link_to "Login", new_user_session_path, method: :GET, class: 'navbar-item' %>
                <%= link_to "Sign Up", new_user_registration_path, method: :GET, class: 'navbar-item' %>
              <% end %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </nav>









<% end %>
