<!DOCTYPE html>
<html>
  <head>
    <title>Garden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'hello_vue' %>

    <script>

    document.addEventListener("DOMContentLoaded", function() {
      setTimeout(function() {
        var notification = document.getElementById('notification');
        notification.classList.add('hide');
      }, 5000)
    });

  </script>
</head>

  <body>

    <%= render 'navbar' %>

      <% if flash[:notice] -%>
        <div id="notification" class="box cta notification is-primary">
          <%= notice %></p>
          <button class="delete"></button>
        </div>
        <p class="alert is-danger"><%= alert %></div>
      <% end %>

      <%= render 'pages_navbar' %>
        <section class="app">
          <div class="content box">
            <%= yield %>
          </div>
        </section>
      </div>
  </body>
</html>
