<!DOCTYPE html>
<html>
  <head>
    <title>MyCRM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'hello_vue' %>
  </head>

  <body>

    <%= render 'navbar' %>

    <section class="container">

          <%= yield %>
      <!-- <p class="notice is-primary box cta"><%= notice %></div>
      <p class="alert is-danger box cta"><%= alert %></div> -->

      </section>

  <!-- <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>MyCRM</strong> by Tim Pittman.
      </p>
    </div>
</footer> -->

  </body>
</html>
